# Путь к директории для сохранения моделей (внутри контейнера)
MODEL_STORAGE_PATH=/app/models

# Число ядер, доступных для обучения (включая серверное)
MAX_CORES=4

# Максимальное число моделей для инференса
MAX_LOADED_MODELS=10